{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
	
	<div><ul>
		<li><a href="/app/?page=1">Main Page</a></li>
		<li><a href="/app/!?type=Book&title=&author=&year_b=&year_e=&page=1">Books</a></li>
		<li><a href="/app/!?type=Video&title=&author=&year_b=&year_e=&page=1">Video</a></li>
		<li><a href="/app/!?type=Audio&title=&author=&year_b=&year_e=&page=1">Audio</a></li>
		<li><a href="/app/search/">Search</a></li>
	</ul></div>
	<br><br>
{% block content %}
{% endblock %}
