{% extends 'app/base.html' %}

{% block content %}
    {% if item %}

	<img id = "detail" src="{{ item.image.url }}" height="420" width = "315"></a>
	<table>
		<tr><td>Medium type<br><br></td><td>{{ item.type }}<br><br></td></tr>
		<tr><td>Title<br><br></td><td>{{ item.title }}<br><br></td></tr>
		<tr><td>Author<br><br></td><td>{{ item.author }}<br><br></td></tr>
		<tr><td>Date of publication<br><br></td><td>{{ item.pub_date }}<br><br></td></tr>
	</table>	

    {% else %}
        <p>Sorry, media does no exist.</p>
    {% endif %}
{% endblock %}
