{% extends 'app/base.html' %}

{% block content %}
    {% if item_list %}
        <ul>
        {% for item in item_list %}
            <div id="item">
				<li>
					<img src="{{ item.image.url }}" height="400" width = "300" align="left">
					<a href="/app/detail/{{ item.id }}/">{{ item.title }} by {{ item.author }}</a>
				</li>
			</div><br><br><br><br><br><br><br>
        {% endfor %}
        </ul>
		<div><ul>
        {% if number > 1%}
            <li>{{ item.type }} <a href="/app/{{ text }}{{ number|add:'-1'}}">Previous</a></li>
            {% if max_number > number %}
                <li>{{ item.type }} <a href="/app/{{ text }}{{ number|add:'1'}}">Next</a></li>
            {% endif %}
        {% else %}
            {% if max_number > 1 %}
                <li>{{ item.type }} <a href="/app/{{ text }}2">Next</a></li>
            {% endif %}
        {% endif %}
		</ul></div>
    {% else %}
        <p>No Items are available.</p>
    {% endif %}
{% endblock %}
