{% extends 'app/base.html' %}

{% block content %}

	<form action="/app/!" method='get'><br>
		<label>Medium Type:</label>
		<select name="type">
			<option value="">Any</option>
			<option value="Book">Book</option>
			<option value="Video">Video</option>
			<option value="Audio">Audio</option>
		</select><br>
		<label>Title:</label>
		<input type="text" name="title"><br>
		<label>Author:</label>
		<input type="text" name="author"><br>
		<label>Start Year:</label>
		<select type="text" name="year_b"><br>
			<option value=""></option>
		{% for i in i|rjust:200 %}
			<option value="{{ forloop.counter|add:'1900' }}">{{ forloop.counter|add:'1900' }}</option>
		{% endfor %}
		</select><br>
		<label>End Year:</label>
		<select type="text" name="year_e"><br>
			<option value=""></option>
		{% for i in i|rjust:200 %}
			<option value="{{ forloop.counter|add:'1900' }}">{{ forloop.counter|add:'1900' }}</option>
		{% endfor %}
		</select><br>
		<input type="hidden" name='page' value='1'>
		<input type="submit" value="Search">
	</form>
{% endblock %}
