body{
	font-family: Arial, Times New Roman, Helvetica, sans-serif;
	font-size: 20pt;
	color: white;
	background-color: black;
	margin: 2cm;
	text-indent: 2cm; 
	line-height: 15mm;
	letter-spacing: 1mm;
	text-align: justify;
}	

p {
	text-align: justify;
}

h1, h2, h3, h4, h5, h6, h7{
	text-align: center;
	color: red;
}

table {
	width: 50%;
	font-size: 20pt;
}
#item {
	clear:both;
}
#detail {
	float: left;
}

a:link {
	text-decoration: none;
	color: white;
}

div > ul, ul li
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
div > ul
{
	float: left;
	background-color: #000;
	padding: 1px 0 1px 1px;
	border: 1px solid #000;
}

div > ul li
{
	float: left;
}

div > ul a:link, ul a:visited
{
	text-decoration: none;
	display: block;
	font-weight: bold;
	background: #000 url("tlo.gif") repeat-x center;
	color: #fff;
	padding: 10px 20px;
	border-right: 1px solid #fff;
	border-right: 1px solid #fff;
}

div > ul a:hover
{
	background-color: #800;
	background-image: url("tlo2.gif");
}
